
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');



* {
box-sizing: border-box;
margin: 0;
padding: 0;
} 

body {
    height:100%;
    background-color: white;
}


button {
font-family: 'Anonymous Pro';
font-weight: 500;
font-size: 16px;
color: black;
text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    height: 90px;
    margin-top: 30px;
    margin-bottom: -50px;
    width: 100%;
    
}

.logo {
   width: 200px;
   position: relative;
   bottom: 40px;
   right: 40px; 
}


.git{
display: inline-block;
padding: 0 20px;
position: relative;
bottom: 40px;
}

.linkedin {
display: inline-block;
padding: 0 20px;
position: relative;
bottom: 40px;
}



.contact {
padding: 9px 25px;
border: none;
background-color: rgba( 137, 207, 240,1 );
border-radius: 50px;
cursor: pointer;
border-color: black;
transition: all 0.3s ease 0s;
position: relative;
bottom: 40px;
}

.contact:hover {
    background-color: rgba( 137, 207, 240,0.8)
}

/*firstdiv*/

.container1 {
    font-family: 'Anonymous Pro';
    font-size: 20px;
    padding-left: 78px;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    background-color: #89CFF0;
    color: white;
    height: 500px;
    
   
}


.static {
    font-size: 30px;
    max-width: 450px;
    min-width: 312px;
    
}

.static1 {
    font-size: 30px;
    position: relative;
    
}

.list .dynamic {
    line-height: 30px;
    height: 30px;
    overflow: hidden; 

}


.dynamic li {
    list-style: none;
    font-size: 30px;
    position: relative;
    margin: 0 15px;
    color: black;
    top: 0;
    animation: slide 9s steps(3) infinite;
}

@keyframes slide {
    100% {
        top: -91px;
    }
}

.work {
    position: relative;
    margin-top: 10px;
    background: transparent;
    font-size: 25px;
}

.list {
    display: flex;
}


.dynamic li::after {
    content:"";
    position:absolute;
    left: 0;
    height: 100%;
    background-color: #89cff0;
    width: 100%;
    border-left: 2px solid black;
    animation: typing 3s steps(7) infinite;
}

@keyframes typing{
    40%,
    60% {
        left: calc(100% + 30px);
    }
    100% {
       left: 0; 
    }
}


.biography {
    margin-top: 40px;
    width: 600px;
}

/*projects */

.projecttext {
    font-size: 30px;
    padding: 10px;
    font-family: 'Anonymous Pro';
    text-align: center;
}

.container2 {
    display: flex;
    height: 500px;
    font-family: 'Anonymous Pro'; 
    flex-direction: row;
    align-items: center;
}


